controls {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(0px);
    height: 50px;
    width: 98%;
    z-index: +9;
    margin: 8px 0px;
    border-radius: 10px;
    flex-direction: column;
    padding: 10px 0px;
    animation: open-controls 0.3s ;
}
@keyframes open-controls{
    from{
    transform: translateX(-50%) translateY(80px);
    }
    to{
    transform: translateX(-50%) translateY(0px);
    }
}
@keyframes close-controls{
    from{
    transform: translateX(-50%) translateY(80px);
    }
    to{
    transform: translateX(-50%) translateY(0px);
    }
}
tromoSM-eventListener-a,tromoSM-eventListener-b{
    display: block;
    position: fixed;
    width: 100vw;
}
tromoSM-eventListener-a{
    height: 50px;
    top: 0;
}
tromoSM-eventListener-b{
    height: 80px;
    bottom: 0;
}

[img=icon]{
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 5px;
    background-color: #f3f3f330;
}
flex-abs-r{
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    gap: 3px;
}
flex-center{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    align-items: center;
}
icon{
    display: block;
    width: fit-content;
    height: 20px;
    margin: 0px 2px;
    padding: 0;
}
close,restore,minimize{
    width: 15px;
    height: 15px;
    position: relative;
    z-index: +99;
}
close:hover::before,restore:hover::before,minimize:hover::before{
    transform: scale(1.1);
}
close:active::before,restore:active::before,minimize:active::before{
    transform: scale(0.9);
}
close::before{
  background-color: rgb(255, 36, 36) ;
}
restore::before{
      background-color: #34c848;
}
minimize::before{
    background-color: #febb3f;
}
close::before,restore::before,minimize::before{
    width: 15px;
    height: 15px;
    content: '';
    left: 0;
    top: 0;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    position: absolute;
    border-radius: 50px;
    margin: 0px 3px;
    display: block;
}
title-bar{
    z-index: +9;
    position: fixed;
    width: 98%;
    background: rgba(255, 255, 255, 0.158);
    -webkit-app-region:drag !important;
    height: 25px;
    display: none;
    align-items: center;
    backdrop-filter: blur(35px);
    transform: translateX(-50%)translateY(0px);
    left: 50%;
    margin: 3px 0px;
    transition: 0.5s tranform;
    animation: open-title 0.3s 1;
    border-radius: 7px;
}
@keyframes open-title {
    from{
    transform: translateX(-50%)translateY(-35px);
    }
    to{
    transform: translateX(-50%)translateY(0px);
    }
}
@keyframes close-title {
    from{
    transform: translateX(-50%)translateY(0px);
    }
    to{
    transform: translateX(-50%)translateY(-35px);
    }
}
title-bar *{
    -webkit-app-region:no-drag;
}
title-bar p{
    font-size: smaller;
    margin-left: 5px;
    color: aliceblue;
    font-weight: 100;
}
[button=main]{
    width: 35px;
    height: 35px;
    background-color: rgba(240, 248, 255, 0.377);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
[button=main] svg{
    transition: 0.3s;
    animation: open-svg 0.3s 1 ;
}
[main="side"]{
    width: 30px;
    height: 30px;
}
[button=main]:active svg{
    transform: scale(0.5);
}
progresstypeshit {
    width: 80%;
    background-color: rgba(0, 0, 0, 0.418);
    position: absolute;
    height: 3px;
    border-radius: 50px;
    transition: 0.1s;
    bottom: 0;
    margin: 11px 0px;
}
notification{
    background-color: red;
    width: 100px;
    height: 100px;
    position: fixed;
    z-index: +99;
    top: 0;
    left: 0;
}
progresstypeshit:hover{
    height: 8px;
}
filled{
    position: absolute;
    left: 0;
    transition: 0.3s;
    height: 100%;
    border-radius: 50px;
    background-color: rgb(194, 194, 194);
}
controls::before{
    content: '';
    display: block;
    position: fixed;
    bottom: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.158);
    transform: translateX(-50%);
    height: 50px;
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    width: 100%;
    z-index: -1;
    border-radius: 10px;
    padding: 6px 0px;
}
flex-height{
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    justify-content: center;
}
[tromoSM=mainmedia]{
    height: 100%;
    object-fit: contain;
}
html,body{
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
*{
    font-family: inter;
}
